<a href="https://colab.research.google.com/github/shwetamse/pythontraining/blob/main/Python_functions_day1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
print("Hellow world")

Hellow world

In [2]:
print('Shweta Tamse')

Shweta Tamse

In [ ]:
def fun():
  print("hellow world")
  print("python")

print("starting point")
fun()
print("end")

starting point
hellow world
python
end

In [ ]:
def square():  # without argument and no return value
  x = int(input("enter the number"))
  print(x*x)

square()

enter the number5
25

In [ ]:
# without argument and return value

def square():
  x = int(input("enter the number"))
  return x*x


print(square())

enter the number20
400

In [ ]:
# with arguments & no return value
def oddeven(n):
  if n%2==0:
    print("even")
  else:
    print("odd")

oddeven(5)

odd

In [ ]:
# with arguments & with return return values

def square(n):
  x = n **2
  return x

s = square(4)
print(s)

16

In [ ]:
# return multiple values
def student():
  roll = int(input("enter roll no"))
  name = input("enetr ur name")
  marks = int(input("enter marks"))
  return roll , name , marks

res = student()
print(res)
print(type(res))

enter roll no10
enetr ur nameasdasd
enter marks34
(10, 'asdasd', 34)
<class 'tuple'>

In [ ]:
# fn calling another function

def accept():
  print("entering accept gn")
  r = int(input("enter a no"))
  display(r)
  print("exit accept fn")


def display(n):
  print("entering display fn")
  print("value is",n)
  print("exit display fn")

accept()

entering accept gn
enter a no10
entering display fn
value is 10
exit display fn
exit accept fn

In [ ]:
#local & global variable
n = 100

def fun1():
  print("start")
  k =20
  print(k)
  print("end")

fun1()
print("n=",n)
print(k)

start
20
end
n= 100

NameError: name 'k' is not defined

In [ ]:
#local & global variable -- golbal key word
n = 100

def fun1():
  print("start")
  global n
  n =20
  print(n)
  print("end")

fun1()
print("n=",n)

start
20
end
n= 20

In [ ]:
# keyword arguments

def add(a,b):
  print("a=",a)
  print("b=",b)
  print(a+b)

add(b=3,a=2)

TypeError: add() missing 1 required positional argument: 'a'

In [ ]:
# default arguments

def add(a=10,b=2):
  print("a=",a)
  print("b=",b)
  print(a+b)

add()

a= 10
b= 2
12

In [ ]:
def add(b,a=10):
  print("a=",a)
  print("b=",b)
  print(a+b)

add(100)

a= 10
b= 100
110

In [ ]:
def fun(*a):
  print(a)

fun(1,2,3,4)

(1, 2, 3, 4)

In [ ]:
def fun(*a):
  for i in a:
    print(i)

fun(10,20,30,40,50,60,70)

10
20
30
40
50
60
70